
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diy101</title>
    <link rel="stylesheet" href="{% static 'icons/fw/fontawesome-free-6.2.1-web/css/all.min.css' %}">

    <link rel="stylesheet" href="{% static 'css/general.css' %}">

    <link rel="stylesheet" href="{% static 'css/diy101.css' %}">
</head>
<body>
    
    <header>
        <nav>

            <ul class="navlist-top flex">
                <li><a href="{% static 'login.html' %}" class="navlink loginlink">Login</a></li>

                <li><a href="{% static 'logout.html' %}" class="navlink logoutlink">logout</a></li>

                <li><a href="{% static 'signup.html' %}" class="navlink signuplink">Signup</a></li>


                <li><a href="{% static '' %}" class="navlink"><i class="fas fa-search"><input type="search" name="search" id="search" placeholder="Search"></i></a></li>

                <li><a href="{% static 'events.html '%}" class="navlink"><i class="far fa-bell"></i>
                    Notifications
                </a></li>

            </ul>
           

            <ul class="navlist-down flex">
                <li><a href="{% static 'home.html '%}" class="navlink homelink active"><i class="fas fa-house"></i>
                    home
                </a></li>

                <li><a href="{% static 'reels.html '%}" class="navlink"><i class="fas fa-blender"></i>
                    Reels
                </a></li>

                <li><a href="{% static 'products.html '%}" class="navlink"><i class="fas fa-box"></i>
                    Products
                </a></li>


                <li><a href="{% static 'events.html '%}" class="navlink"><i class="far fa-bell"></i>
                    Notifications
                </a></li>

                <!-- <li><a href="{% static '#nav" class="navlink" id="navlist-sideBar-toggle"><i class="fas fa-bars"></i>
                    More
                </a></li> -->

            </ul>

            <ul class="navlist-sideBar flex-c " id="navlist-sideBar">

                <li><a href="{% static 'products.html '%}" class="navlink"><i class="fas fa-box"></i>Products</a></li>

                <li><a href="{% static 'products.html '%}" class="navlink"><i class="far fa-square"></i>Service</a></li>

                <li><a href="{% static 'events.html '%}" class="navlink"><i class="far fa-bell"></i>Events</a></li>

                <li><a href="{% static ' '%}"" class="navlink"><i class="far fa-square"></i>services</a></li>

                <li><a href="{% static ' '%}"" class="navlink"><i class="far fa-square"></i>Resources</a></li>

                <li><a href="{% static 'about.html '%}" class="navlink"><i class="far fa-square"></i>About</a></li>

                <li><a href="{% static 'contact.html '%}" class="navlink"><i class="far fa-address-card"></i>Contact</a></li>
            </ul>


        </nav>
    </header>

    <main>





    </main> 
    
    <footer>
        <ul class="footer-list">
            <li><h3 class="footer-list-heading">Products</h3></li>
            <li><a href="{% static ' '%}" class="footer-link">Products</a></li>
            <li><a href="{% static ' '%}" class="footer-link">Products</a></li>
            <li><a href="{% static ' '%}" class="footer-link">Products</a></li>
            <li><a href="{% static ' '%}" class="footer-link">Products</a></li>
            <li><a href="{% static ' '%}" class="footer-link">Products</a></li>
            <li><a href="{% static ' '%}" class="footer-link">Products</a></li>      
        </ul>
        <ul class="footer-list">
            <li><h3 class="footer-list-heading">Products</h3></li>
            <li><a href="{% static ' '%}" class="footer-link">Products</a></li>
            <li><a href="{% static ' '%}" class="footer-link">Products</a></li>
            <li><a href="{% static ' '%}" class="footer-link">Products</a></li>
            <li><a href="{% static ' '%}" class="footer-link">Products</a></li>
            <li><a href="{% static ' '%}" class="footer-link">Products</a></li>
            <li><a href="{% static ' '%}" class="footer-link">Products</a></li>      
        </ul>
        <ul class="footer-list">
            <li><h3 class="footer-list-heading">Products</h3></li>
            <li><a href="{% static ' '%}" class="footer-link">Products</a></li>
            <li><a href="{% static ' '%}" class="footer-link">Products</a></li>
            <li><a href="{% static ' '%}" class="footer-link">Products</a></li>
            <li><a href="{% static ' '%}" class="footer-link">Products</a></li>
            <li><a href="{% static ' '%}" class="footer-link">Products</a></li>
            <li><a href="{% static ' '%}" class="footer-link">Products</a></li>      
        </ul>
        <ul class="footer-list">
            <li><h3 class="footer-list-heading">Products</h3></li>
            <li><a href="{% static ' '%}" class="footer-link">Products</a></li>
            <li><a href="{% static ' '%}" class="footer-link">Products</a></li>
            <li><a href="{% static ' '%}" class="footer-link">Products</a></li>
            <li><a href="{% static ' '%}" class="footer-link">Products</a></li>
            <li><a href="{% static ' '%}" class="footer-link">Products</a></li>
            <li><a href="{% static ' '%}" class="footer-link">Products</a></li>      
        </ul>
        <ul class="footer-list">
            <li><h3 class="footer-list-heading">Products</h3></li>
            <li><a href="{% static ' '%}" class="footer-link">Products</a></li>
            <li><a href="{% static ' '%}" class="footer-link">Products</a></li>
            <li><a href="{% static ' '%}" class="footer-link">Products</a></li>
            <li><a href="{% static ' '%}" class="footer-link">Products</a></li>
            <li><a href="{% static ' '%}" class="footer-link">Products</a></li>
            <li><a href="{% static ' '%}" class="footer-link">Products</a></li>      
        </ul>
        <ul class="footer-list">
            <li><h3 class="footer-list-heading">Products</h3></li>
            <li><a href="{% static ' '%}" class="footer-link">Products</a></li>
            <li><a href="{% static ' '%}" class="footer-link">Products</a></li>
            <li><a href="{% static ' '%}" class="footer-link">Products</a></li>
            <li><a href="{% static ' '%}" class="footer-link">Products</a></li>
            <li><a href="{% static ' '%}" class="footer-link">Products</a></li>
            <li><a href="{% static ' '%}" class="footer-link">Products</a></li>      
        </ul>
      

    </footer>
    <script src="{% static 'js/diy101.js' %}"></script>
</body>
</html>